body{
    background-color: #48cae4;
    box-sizing: border-box;
    text-align: center;
}


section{
    display: flex;
    background-color: white;
    width: 400px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    

}

img{
    width: 320px;
}


div{
    width: 100%;
   
  
}

h3{
    font-size: 1.2em;
    color: grey;
    font-family: "Open Sans";
    margin-bottom: 50px ;
}

p{
    font-family: "Open Sans";
    color:#0096c7 ;
    text-transform: uppercase;
    
}
 .topP{
    margin-bottom: 25px;
    font-size: 0.9em;
}


#bigP{
    font-size: 3em;
    color: #03045e;
    margin-bottom: 25px;
}

button{
    color: #0096c7;
    border-radius: 15px;
    background-color: white;
   border: 1px solid #0096c7;
   padding: 1em 3em;
   display: inline-block;
   margin-bottom: 20px;
   transition: 0.5s;

}

#bluey{
    background-color:#0096c7 ;
    color: white;
   
}


#bluey:hover{
    background-color: yellow;
    cursor: pointer;
    border: yellowgreen;
    color: green;
}

button:hover{
    background-color: yellow;
    cursor: pointer;
    border: yellowgreen;
}