body{
    display: flex;
    background-color: #48cae4;
    box-sizing: border-box;
    text-align: center;
    
}


section{
   
    background-color: white;
    width: 400px;
    margin:  auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;

}

img{
    width: 320px;
}


div{
    width: 100%;
   
  
}

h3{
    font-size: 1.2em;
    color: grey;
    font-family: "Open Sans";
    margin-bottom: 50px ;
}

p{
    font-family: "Open Sans";
    color:#0096c7 ;
    text-transform: uppercase;
    font-weight: bold;

    
}
 .topP{
    margin-bottom: 25px;
    font-size: 0.9em;
}


#bigP{
    font-size: 3em;
    color: #03045e;
    margin-bottom: 25px;
}

button{
    color: #0096c7;
    border-radius: 15px;
    background-color: white;
   border: 1px solid #0096c7;
   padding: 1em 3em;
   display: inline-block;
   margin-bottom: 20px;
   transition: 0.5s;
   font-size: 1em;

}

#bluey{
    background-color:#0096c7 ;
    color: white;
   
   
}


#bluey:hover{
    background-color: yellow;
    cursor: pointer;
    border: yellowgreen;
    color: green;
}

button:hover{
    background-color: yellow;
    cursor: pointer;
    border: yellowgreen;
}



@media(min-width:970px){
  
    body{
       height: 700px;
        justify-content: center;
        align-items: center;
    }
    
    section{
        flex-direction: row;
        width: 1000px;
        padding: 30px;
   
      
      

    }


   
}